<div class="p-form">
    <div class="p-form-title">
        <h2 >Add New Payment</h2>
    </div>

    <form class="paymentForm" name="createPaymentForm" ng-submit="submit(createPaymentForm)" novalidate>
        <div class="form-group">
            <label class="p-label">Method:</label>
            <select class="form-control" name="singleSelect" ng-model="payment.method" required>
                <option value="creditcard">creditcard</option>
                <option value="bank-transfer">bank-transfer</option>
                <option value="ideal">ideal</option>
            </select>
        </div>
        
        <div class="form-group">
            <label class="p-label">Amount:</label>
            <input class="form-control" type="text" ng-model="payment.amount" placeholder="100.00" required ng-pattern="/^[0-9]+([.][0-9]+)?$/"/>
        </div>

        <div class="form-group">
            <label class="p-label">Currency:</label>
            <input class="form-control" type="text" ng-model="payment.currency" placeholder="EUR" required ng-maxlength="3"/>
        </div>

        <div class="form-group">
            <label class="p-label">Status:</label>
            <select class="form-control" name="singleSelect" ng-model="payment.status" required>
                <option value="denied">denied</option>
                <option value="accepted">accepted</option>
            </select>
        </div>
        
        <div class="form-group">
            <label class="p-label">Merchant:</label>
            <input class="form-control" type="text" ng-model="payment.merchant" placeholder="Ginger" required/>
        </div>

        <button type="submit" class="btn-success">Accept</button>
    </form>
</div>