<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <title>Ginger Payments - Frontend Assignment</title>
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,300,700">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>

<body ng-app="GingerApp">
    <header>
        <h1 class="title">Assignment</h1>
    </header>
    <main ng-controller="paymentsController">
        <aside>
            <button class="btn-primary callback" ng-click="showTop20Amount()">Callback</button>
            <button class="btn-primary promise" ng-click="showMerchantGringer()">Promise</button>
            <button class="btn-primary filter-method" ng-click="goToFilterPaymentMethodPage()">Filter Payment-Method</button>
            <button class="btn-primary payment-form" ng-click="addPayment()">Add payment</button>
        </aside>
        <section>
          <ng-view></ng-view>
        </section>
    </main>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
